/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 20px 32px;

	.header__access {
		margin-left: auto;
	}

	.header__access {
		position: absolute;
		right: 32px;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		text-transform: uppercase;
		text-decoration: none;
		color: #999;
		font-weight: 700;
		font-size: 16px;
		letter-spacing: -1.05px;
	}

	.header__access p {
		margin-left: 10px;
	}

	.header__cart {
		position: absolute;
		right: 32px;
		top: 50%;
		transform: translateY(-50%);
		text-decoration: none;
		color: inherit;
		display: flex;
		align-items: flex-start;
		gap: 4px;
	}

	.header__cart span {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 14px;
		background-color: #000;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		color: #fff;
	}

	.header__cart svg {
		width: 40px;
		height: auto;
	}
}

@media (max-width: 768px) {
	.header {
		padding: 15px;

		.header__access {
			display: none;
		}
	}
}
