/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
  position: absolute;
  display: block;
  max-width: 65px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;

  img {
    display: block;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .logo {
    position: relative;
    left: unset;
    transform: none;
  }
}
